%%-*- mode: erlang -*-
{lib_dirs,            [".."]}.
{erl_opts,            [debug_info, nowarn_shadow_vars, warnings_as_errors]}.
{xref_checks,         [undefined_function_calls, exports_not_used]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.
{deps,
 [{stdlib2, ".*", {git, "git@github.com:cannedprimates/stdlib2.git", {branch, "master"}}}]}.
